## 2. 경기도 데이터셋 수집 및 정리  (2021.03 데이터 수집)

In [1]:
# Import Library
import requests
import pandas as pd

In [2]:
# Read CSV file from Text file of Population in Gyeonggi-do 
sigun_pop_df = pd.read_csv('./files/gyeonggi_pop.txt', sep='\t', header=0)
columns = {
    '연도' : 'Year',
    '월' : 'Month',
    '행정구역구분명' : 'Sigun',
    '행정구역명' : 'Address',
    '총 인구수' : 'Tot_pop',
    '0~9세' : 'age0-9',
    '10~19세' : 'age10-19',
    '20~29세' : 'age20-29',
    '30~39세' : 'age30-39',
    '40~49세' : 'age40-49',
    '50~59세' : 'age50-59',
    '60~69세' : 'age60-69',
    '70~79세' : 'age70-79',
    '80~89세' : 'age80-89',
    '90~99세' : 'age90-99',
    '100세 이상' : 'ageover100',
    '총 인구수 (남)' : 'Tot_man',
    '0~9세 (남)' : 'age0-9man',
    '10~19세 (남)' : 'age10-19man',
    '20~29세 (남)' : 'age20-29man',
    '30~39세 (남)' : 'age30-39man',
    '40~49세 (남)' : 'age40-49man',
    '50~59세 (남)' : 'age50-59man',
    '60~69세 (남)' : 'age60-69man',
    '70~79세 (남)' : 'age70-79man',
    '80~89세 (남)' : 'age80-89man',
    '90~99세 (남)' : 'age90-99man',
    '100세 이상 (남)' : 'ageover100man'
}

sigun_pop_df.rename(columns = columns, inplace = True)
sigun_pop_df.head()

,Year,Month,Sigun,Address,Tot_pop,age0-9,age10-19,age20-29,age30-39,age40-49,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
0,2021,03,도,경기도,13465837,1134030,1325112,1811928,1902623,2298082,...,643978,857705,921316,1129066,1105495,791715,418536,225777,40179,1830
1,2021,03,시군,경기도 가평군,62049,3291,4522,6220,5628,7813,...,2137,2629,2569,3608,5273,5931,3576,2275,380,22
2,2021,03,읍면동,경기도 가평군 가평읍,19420,1130,1658,2220,1865,2627,...,756,1004,880,1218,1604,1643,1056,688,110,12
3,2021,03,읍면동,경기도 가평군 북면,3885,148,200,246,263,388,...,93,105,116,165,316,482,285,208,35,3
4,2021,03,읍면동,경기도 가평군 상면,5566,150,241,528,381,556,...,100,176,168,237,550,683,363,243,37,1

In [3]:
sigun_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96562 entries, 0 to 96561
Data columns (total 40 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           96562 non-null  object
 1   Month          96562 non-null  object
 2   Sigun          96562 non-null  object
 3   Address        96562 non-null  object
 4   Tot_pop        96562 non-null  object
 5   age0-9         96562 non-null  object
 6   age10-19       96562 non-null  object
 7   age20-29       96562 non-null  object
 8   age30-39       96562 non-null  object
 9   age40-49       96562 non-null  object
 10  age50-59       96562 non-null  object
 11  age60-69       96562 non-null  object
 12  age70-79       96562 non-null  object
 13  age80-89       96562 non-null  object
 14  age90-99       96562 non-null  object
 15  ageover100     96562 non-null  object
 16  Tot_man        96562 non-null  object
 17  age0-9man      96562 non-null  object
 18  age10-19man    96562 non-null  object
 19  age20-29man    96562 non-null  object
 20  age30-39man    96562 non-null  object
 21  age40-49man    96562 non-null  object
 22  age50-59man    96562 non-null  object
 23  age60-69man    96562 non-null  object
 24  age70-79man    96562 non-null  object
 25  age80-89man    96562 non-null  object
 26  age90-99man    96562 non-null  object
 27  ageover100man  96562 non-null  object
 28  총 인구수 (여)      96562 non-null  object
 29  0~9세 (여)       96562 non-null  object
 30  10~19세 (여)     96562 non-null  object
 31  20~29세 (여)     96562 non-null  object
 32  30~39세 (여)     96562 non-null  object
 33  40~49세 (여)     96562 non-null  object
 34  50~59세 (여)     96562 non-null  object
 35  60~69세 (여)     96562 non-null  object
 36  70~79세 (여)     96562 non-null  object
 37  80~89세 (여)     96562 non-null  object
 38  90~99세 (여)     96562 non-null  object
 39  100세 이상 (여)    96562 non-null  object
dtypes: object(40)
memory usage: 29.5+ MB

In [4]:
condition1 = sigun_pop_df['Sigun'] != '도'
condition1

0        False
1         True
2         True
3         True
4         True
         ...
96557     True
96558     True
96559     True
96560     True
96561     True
Name: Sigun, Length: 96562, dtype: bool

In [5]:
# remove Total Value of Population
sigun_pop_df_remove_do = sigun_pop_df[condition1]
sigun_pop_df_remove_do.head()

,Year,Month,Sigun,Address,Tot_pop,age0-9,age10-19,age20-29,age30-39,age40-49,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
1,2021,03,시군,경기도 가평군,62049,3291,4522,6220,5628,7813,...,2137,2629,2569,3608,5273,5931,3576,2275,380,22
2,2021,03,읍면동,경기도 가평군 가평읍,19420,1130,1658,2220,1865,2627,...,756,1004,880,1218,1604,1643,1056,688,110,12
3,2021,03,읍면동,경기도 가평군 북면,3885,148,200,246,263,388,...,93,105,116,165,316,482,285,208,35,3
4,2021,03,읍면동,경기도 가평군 상면,5566,150,241,528,381,556,...,100,176,168,237,550,683,363,243,37,1
5,2021,03,읍면동,경기도 가평군 설악면,9583,539,776,901,816,1111,...,400,396,363,541,799,969,486,350,83,1

In [6]:
sigun_pop_df_remove_do.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96401 entries, 1 to 96561
Data columns (total 40 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           96401 non-null  object
 1   Month          96401 non-null  object
 2   Sigun          96401 non-null  object
 3   Address        96401 non-null  object
 4   Tot_pop        96401 non-null  object
 5   age0-9         96401 non-null  object
 6   age10-19       96401 non-null  object
 7   age20-29       96401 non-null  object
 8   age30-39       96401 non-null  object
 9   age40-49       96401 non-null  object
 10  age50-59       96401 non-null  object
 11  age60-69       96401 non-null  object
 12  age70-79       96401 non-null  object
 13  age80-89       96401 non-null  object
 14  age90-99       96401 non-null  object
 15  ageover100     96401 non-null  object
 16  Tot_man        96401 non-null  object
 17  age0-9man      96401 non-null  object
 18  age10-19man    96401 non-null  object
 19  age20-29man    96401 non-null  object
 20  age30-39man    96401 non-null  object
 21  age40-49man    96401 non-null  object
 22  age50-59man    96401 non-null  object
 23  age60-69man    96401 non-null  object
 24  age70-79man    96401 non-null  object
 25  age80-89man    96401 non-null  object
 26  age90-99man    96401 non-null  object
 27  ageover100man  96401 non-null  object
 28  총 인구수 (여)      96401 non-null  object
 29  0~9세 (여)       96401 non-null  object
 30  10~19세 (여)     96401 non-null  object
 31  20~29세 (여)     96401 non-null  object
 32  30~39세 (여)     96401 non-null  object
 33  40~49세 (여)     96401 non-null  object
 34  50~59세 (여)     96401 non-null  object
 35  60~69세 (여)     96401 non-null  object
 36  70~79세 (여)     96401 non-null  object
 37  80~89세 (여)     96401 non-null  object
 38  90~99세 (여)     96401 non-null  object
 39  100세 이상 (여)    96401 non-null  object
dtypes: object(40)
memory usage: 30.2+ MB

In [7]:
# select only for 2021 data (Jan - Mar)
find_row = sigun_pop_df_remove_do.loc[(sigun_pop_df['Year']) == '2021']
find_row

,Year,Month,Sigun,Address,Tot_pop,age0-9,age10-19,age20-29,age30-39,age40-49,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
1,2021,03,시군,경기도 가평군,62049,3291,4522,6220,5628,7813,...,2137,2629,2569,3608,5273,5931,3576,2275,380,22
2,2021,03,읍면동,경기도 가평군 가평읍,19420,1130,1658,2220,1865,2627,...,756,1004,880,1218,1604,1643,1056,688,110,12
3,2021,03,읍면동,경기도 가평군 북면,3885,148,200,246,263,388,...,93,105,116,165,316,482,285,208,35,3
4,2021,03,읍면동,경기도 가평군 상면,5566,150,241,528,381,556,...,100,176,168,237,550,683,363,243,37,1
5,2021,03,읍면동,경기도 가평군 설악면,9583,539,776,901,816,1111,...,400,396,363,541,799,969,486,350,83,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,2021,01,읍면동,경기도 화성시 팔탄면,9974,304,479,996,1014,1455,...,223,337,322,473,814,818,426,329,57,6
1810,2021,01,읍면동,경기도 화성시 향남읍,86246,10655,10074,10272,15878,17362,...,4922,4621,6948,7667,4895,3189,1632,932,138,4
1811,2021,01,읍면동,경기도 화성시 화산동,23199,1789,2228,3122,2970,3950,...,1036,1344,1332,1765,1992,1467,709,379,58,5
1812,2021,01,읍면동,경기도 화성시동부출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1813,2021,01,읍면동,경기도 화성시동탄출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# 컬럼 28개까지만 보여주기
recent_data = find_row.iloc[:,:28]
recent_data

,Year,Month,Sigun,Address,Tot_pop,age0-9,age10-19,age20-29,age30-39,age40-49,...,age10-19man,age20-29man,age30-39man,age40-49man,age50-59man,age60-69man,age70-79man,age80-89man,age90-99man,ageover100man
1,2021,03,시군,경기도 가평군,62049,3291,4522,6220,5628,7813,...,2385,3591,3059,4205,5961,6353,3234,1421,138,11
2,2021,03,읍면동,경기도 가평군 가평읍,19420,1130,1658,2220,1865,2627,...,902,1216,985,1409,1813,1668,873,407,42,4
3,2021,03,읍면동,경기도 가평군 북면,3885,148,200,246,263,388,...,107,141,147,223,395,506,274,123,12,1
4,2021,03,읍면동,경기도 가평군 상면,5566,150,241,528,381,556,...,141,352,213,319,568,737,373,142,12,1
5,2021,03,읍면동,경기도 가평군 설악면,9583,539,776,901,816,1111,...,376,505,453,570,918,1071,499,233,29,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,2021,01,읍면동,경기도 화성시 팔탄면,9974,304,479,996,1014,1455,...,256,659,692,982,1503,1129,435,186,23,0
1810,2021,01,읍면동,경기도 화성시 향남읍,86246,10655,10074,10272,15878,17362,...,5152,5651,8930,9695,6090,3280,1315,492,33,5
1811,2021,01,읍면동,경기도 화성시 화산동,23199,1789,2228,3122,2970,3950,...,1192,1778,1638,2185,2176,1521,632,191,8,2
1812,2021,01,읍면동,경기도 화성시동부출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1813,2021,01,읍면동,경기도 화성시동탄출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
only_march = recent_data.loc[(recent_data['Month']) == '03' ]
only_march

,Year,Month,Sigun,Address,Tot_pop,age0-9,age10-19,age20-29,age30-39,age40-49,...,age10-19man,age20-29man,age30-39man,age40-49man,age50-59man,age60-69man,age70-79man,age80-89man,age90-99man,ageover100man
1,2021,03,시군,경기도 가평군,62049,3291,4522,6220,5628,7813,...,2385,3591,3059,4205,5961,6353,3234,1421,138,11
2,2021,03,읍면동,경기도 가평군 가평읍,19420,1130,1658,2220,1865,2627,...,902,1216,985,1409,1813,1668,873,407,42,4
3,2021,03,읍면동,경기도 가평군 북면,3885,148,200,246,263,388,...,107,141,147,223,395,506,274,123,12,1
4,2021,03,읍면동,경기도 가평군 상면,5566,150,241,528,381,556,...,141,352,213,319,568,737,373,142,12,1
5,2021,03,읍면동,경기도 가평군 설악면,9583,539,776,901,816,1111,...,376,505,453,570,918,1071,499,233,29,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,2021,03,읍면동,경기도 화성시 팔탄면,9943,317,472,976,1020,1455,...,249,655,693,975,1510,1132,429,185,20,0
600,2021,03,읍면동,경기도 화성시 향남읍,86960,10612,10186,10450,15829,17518,...,5216,5748,8921,9753,6183,3370,1333,498,34,4
601,2021,03,읍면동,경기도 화성시 화산동,23269,1771,2252,3126,2941,3963,...,1205,1791,1621,2186,2187,1547,640,191,12,2
602,2021,03,읍면동,경기도 화성시동부출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
603,2021,03,읍면동,경기도 화성시동탄출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
# 두개를 밑에 병합시켜서 가공해야함
only_march_sigun = only_march.loc[(only_march['Sigun']) == '시군']
#only_march_gu = only_march.loc[(only_march['Sigun'] == '구')]
sigun = only_march_sigun.reset_index(drop=True)
sigun
#gu = only_march_gu.reset_index(drop=True)
#add_sigun_gu = pd.concat([sigun,gu])
#sgg=add_sigun_gu.reset_index(drop=True)
#sgg.head()

,Year,Month,Sigun,Address,Tot_pop,age0-9,age10-19,age20-29,age30-39,age40-49,...,age10-19man,age20-29man,age30-39man,age40-49man,age50-59man,age60-69man,age70-79man,age80-89man,age90-99man,ageover100man
0,2021,03,시군,경기도 가평군,62049,3291,4522,6220,5628,7813,...,2385,3591,3059,4205,5961,6353,3234,1421,138,11
1,2021,03,시군,경기도 고양시,1080845,81455,103975,150167,143290,181155,...,53223,76955,71099,87711,96054,62587,26515,12181,1241,49
2,2021,03,시군,경기도 과천시,68399,5890,6722,9201,9604,10330,...,3470,4835,4809,4995,5751,4065,1751,741,91,9
3,2021,03,시군,경기도 광명시,295750,22618,30138,37773,40515,50813,...,15495,19761,20519,25090,24601,18090,8017,2500,242,11
4,2021,03,시군,경기도 광주시,383052,34518,33771,45155,57009,67082,...,17267,23983,29690,35417,32600,24812,10775,3264,277,11
5,2021,03,시군,경기도 구리시,195804,14752,17891,27042,25820,32428,...,9256,13902,13026,16185,17478,12478,5236,1833,171,19
6,2021,03,시군,경기도 군포시,271392,19996,26148,37870,37620,43795,...,13517,19767,19517,21614,23327,16783,6802,2724,321,9
7,2021,03,시군,경기도 김포시,480275,55429,48432,52833,76700,90022,...,24722,27181,37635,46856,34553,24775,12147,4063,370,14
8,2021,03,시군,경기도 남양주시,720282,64864,77688,85568,89817,131124,...,39900,44587,44317,65762,60460,41783,20602,7230,623,30
9,2021,03,시군,경기도 동두천시,93351,6125,8490,11185,10053,14079,...,4274,6093,5198,7287,8589,6591,3636,1630,157,3
10,2021,03,시군,경기도 부천시,813178,55709,69442,116325,114266,127856,...,35611,60003,58805,64449,70956,55855,21562,6736,712,38
11,2021,03,시군,경기도 성남시,934308,67599,86844,131115,135757,155458,...,44550,67166,69070,76761,77475,56487,26297,9327,1014,53
12,2021,03,시군,경기도 수원시,1185984,95345,117788,186757,177670,201650,...,60988,98404,92437,101710,98074,61355,25305,8969,900,46
13,2021,03,시군,경기도 시흥시,509115,49124,50509,70166,78787,91950,...,25973,38135,42111,49482,46626,26319,8986,2993,284,29
14,2021,03,시군,경기도 안산시,655859,43822,63489,107137,85490,107179,...,32693,57077,46678,54876,65241,38846,13444,4855,459,21
15,2021,03,시군,경기도 안성시,187540,13796,17926,22743,22891,30150,...,9320,12547,12520,16113,16690,13202,6277,2734,208,6
16,2021,03,시군,경기도 안양시,551136,39186,52059,77206,77261,87440,...,27000,40019,39751,42918,47157,35749,14624,4903,507,26
17,2021,03,시군,경기도 양주시,234181,20241,24407,27678,28594,40017,...,12428,14848,14749,20613,20297,14923,7608,2793,230,10
18,2021,03,시군,경기도 양평군,119260,7235,9689,10577,10759,16287,...,5108,5878,5438,8268,10658,11646,6448,2477,231,10
19,2021,03,시군,경기도 여주시,111903,7306,9477,12193,11398,15894,...,4874,6683,6001,8217,10518,9718,4886,1991,193,7
20,2021,03,시군,경기도 연천군,43063,2655,3123,5325,4176,4863,...,1655,3377,2385,2669,3762,3973,2281,1007,112,7
21,2021,03,시군,경기도 오산시,230604,23226,24947,31546,38603,43592,...,12729,17043,20875,23155,17517,10229,4352,1506,101,9
22,2021,03,시군,경기도 용인시,1075421,99274,120661,138150,143848,199206,...,61825,71627,71049,98334,84780,52022,29899,11900,1133,26
23,2021,03,시군,경기도 의왕시,162443,12888,14393,23187,22644,24241,...,7398,12216,11675,11998,14050,10883,4287,1473,164,3
24,2021,03,시군,경기도 의정부시,461143,33963,42135,64877,59663,74309,...,21766,32835,30466,37360,39446,28275,13725,5322,439,27
25,2021,03,시군,경기도 이천시,218565,18515,21956,30300,30378,34666,...,11387,17147,16320,17930,18329,13641,6009,2511,222,8
26,2021,03,시군,경기도 파주시,468501,43855,49305,57294,66892,81012,...,25330,30404,35347,41485,38709,25338,12656,5303,527,21
27,2021,03,시군,경기도 평택시,544368,49471,53668,74995,82252,94681,...,27691,41253,44836,50568,46245,28439,12484,5062,466,28
28,2021,03,시군,경기도 포천시,147014,8343,11999,17919,14523,20104,...,6288,10399,8119,10818,15981,13637,5750,2415,224,14
29,2021,03,시군,경기도 하남시,300187,30539,26000,37340,50838,53013,...,13198,18933,25749,27779,21371,17463,8219,2062,231,15
30,2021,03,시군,경기도 화성시,860865,103000,97518,106084,149877,165873,...,49813,57574,78057,88391,62862,36944,15104,5300,431,18

In [57]:
# Select data : Address , Tot_pop
columns = ['Address', 'Tot_pop']
recent_final = sigun[columns]
recent_final

     Address  Tot_pop
0   경기도 가평군     62049
1   경기도 고양시   1080845
2   경기도 과천시     68399
3   경기도 광명시    295750
4   경기도 광주시    383052
5   경기도 구리시    195804
6   경기도 군포시    271392
7   경기도 김포시    480275
8   경기도 남양주시   720282
9   경기도 동두천시    93351
10  경기도 부천시    813178
11  경기도 성남시    934308
12  경기도 수원시   1185984
13  경기도 시흥시    509115
14  경기도 안산시    655859
15  경기도 안성시    187540
16  경기도 안양시    551136
17  경기도 양주시    234181
18  경기도 양평군    119260
19  경기도 여주시    111903
20  경기도 연천군     43063
21  경기도 오산시    230604
22  경기도 용인시   1075421
23  경기도 의왕시    162443
24  경기도 의정부시   461143
25  경기도 이천시    218565
26  경기도 파주시    468501
27  경기도 평택시    544368
28  경기도 포천시    147014
29  경기도 하남시    300187
30  경기도 화성시    860865

In [58]:
# address 가져와서 '경기도' 글자 제거하기
# 1. address 열 추출 
# 2. 경기도 글자 제거 --> 람다함수? for 문 ? 
# 3. 새로운 address 가 생성되면 객체로 받아서 다시 데이터 프레임에 넣기

get_address = recent_final.iloc[:,0]
get_address.head()

0    경기도 가평군
1    경기도 고양시
2    경기도 과천시
3    경기도 광명시
4    경기도 광주시
Name: Address, dtype: object

In [60]:
# 2. lambda 함수
new_address = get_address.map(lambda name: name[4:].strip())
new_address

# replace(" ","") : 용산시 처인구 --> 용산시처인구
# strip 을 안쓸경우 3개짜리 이름을 가진 애들은 뒤에 공백이 생겨 나중에 4번에서 final combined data 만들때 nan값으로 처리되어 merge 불가.
# merge 시에 총 3개밖에 안나왔음( 4개짜리 이름을 가진 애들만 나왔음)

# reference : http://www.leejungmin.org/post/2018/04/21/pandas_apply_and_map/

0      가평군
1      고양시
2      과천시
3      광명시
4      광주시
5      구리시
6      군포시
7      김포시
8     남양주시
9     동두천시
10     부천시
11     성남시
12     수원시
13     시흥시
14     안산시
15     안성시
16     안양시
17     양주시
18     양평군
19     여주시
20     연천군
21     오산시
22     용인시
23     의왕시
24    의정부시
25     이천시
26     파주시
27     평택시
28     포천시
29     하남시
30     화성시
Name: Address, dtype: object

In [61]:
# 3. 데이터 프레임에 넣어서 새로운 데이터 프레임 생성하기 
recent_final['시군명'] = new_address
recent_final.head()
print(len(recent_final))

31

C:\Users\jun\miniconda3\envs\ds\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [63]:
public_data = recent_final.drop(['Address'], axis = 1)
public_data

    Tot_pop   시군명
0     62049   가평군
1   1080845   고양시
2     68399   과천시
3    295750   광명시
4    383052   광주시
5    195804   구리시
6    271392   군포시
7    480275   김포시
8    720282  남양주시
9     93351  동두천시
10   813178   부천시
11   934308   성남시
12  1185984   수원시
13   509115   시흥시
14   655859   안산시
15   187540   안성시
16   551136   안양시
17   234181   양주시
18   119260   양평군
19   111903   여주시
20    43063   연천군
21   230604   오산시
22  1075421   용인시
23   162443   의왕시
24   461143  의정부시
25   218565   이천시
26   468501   파주시
27   544368   평택시
28   147014   포천시
29   300187   하남시
30   860865   화성시

In [64]:
public_data.to_excel('./files/gyeong_selected_pop.xlsx', index=False, engine='openpyxl')